// Common section setup
.section {
    padding: $section-spacing 0;
    background: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;

    @media (min-width: $tablet-breakpoint) {
        padding: $section-spacing 10%;
        width: 80%;
    }

    @media (min-width: $desktop-breakpoint) {
        padding: $section-spacing 20%;
        width: 60%;
    }

    &__inner {
        background-color: $section-background;
        max-width: 100%;
        text-align: center;
        padding: $base-spacing;

        @media (min-width: $tablet-breakpoint) {
            background-color: rgba($color: $section-background, $alpha: 0.8);
        }
    }
}

.list {
    list-style: none;
    padding: 0;
    line-height: $paragraph-line-height;
    border-top: 1px solid $divider-color;
    margin-bottom: $element-spacing;
    text-transform: uppercase;

    li {
        padding: $base-spacing 0;
        border-bottom: 1px solid $divider-color;
    }
}
