iframe {
    background-image: url(../img/logo-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    border: none;
}

.small-note {
    margin: 0;
    font-size: .75rem;
}