@import "normalize";
@import "variables";
@import "mixins";

body {
    width: 100%;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $base-font-size;
    color: $base-font-color;
    background-color: $base-background-color;
}

// Headers
h1, h2, h3, h4, h5, h6 {
    @include rem(margin, 0 0 $element-spacing);
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: $accent-font-color;
    line-height: $header-line-height;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;

    @media (min-width: $tablet-breakpoint) {
        font-size: 5rem;
        margin-bottom: 2rem;
    }
}

h2 {
    font-size: 2rem;

    @media (min-width: $tablet-breakpoint) {
        font-size: 3rem;
    }
}

h3 {
    font-size: 1.5rem;

    @media (min-width: $tablet-breakpoint) {
        font-size: 2.5rem;
    }
}

h4 {
    font-size: 1.3rem;

    @media (min-width: $tablet-breakpoint) {
        font-size: 2rem;
    }
}

h5 {
    font-size: 1rem;

    @media (min-width: $tablet-breakpoint) {
        font-size: 1.5rem;
    }
}

h6 {
    font-size: 1rem;
}

// Text
p {
    @include rem(margin, 0 0 $element-spacing);
    line-height: $paragraph-line-height;
}

b {
    color: $accent-font-color;
}

// Links and buttons
a {
    color: $link-color;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    :hover,
    :focus {
        color: $link-hover-color;
    }
}

button,
.btn {
    display: inline-block;
    border: 1px solid $button-color;
    color: $button-color;
    text-transform: uppercase;
    padding: $base-spacing;
    width: calc(100% - #{$base-spacing} * 2);
    transition: all 0.2s ease-in-out;
    margin-bottom: $base-spacing;
    background: transparent;

    @media (min-width: $tablet-breakpoint) {
        min-width: 10rem;
        width: auto;
        margin-right: $base-spacing;
    }

    &:last-of-type {
        margin-bottom: 0;

        @media (min-width: $tablet-breakpoint) {
            margin-right: 0;
        }
    }

    &:hover,
    &:focus {
        background-color: $button-color;
        color: $accent-font-color;
        transition: all 0.2s ease-in-out;
    }
    &:disabled,
    &:disabled:hover {
        color: $date-color;
        border-color: $date-color;
    }   
}

// Tables
table {
    border-collapse: collapse;
    font-size: 0.78rem;
    width: 100%;

    th, td {
        border: 1px solid $divider-color;
        @include rem(padding, 8px);
    }

    thead th,
    tbody td:first-child {
        background: $table-header-color;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.89rem;
    }

    tbody td:first-child {
        font-weight: 400;
    }
}

// Horizontal line
hr {
    border: 0;
    height: 1px;
    background-color: $divider-color;
    margin: $element-spacing 0;
}

// Utility
.a11y {
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.no-mobile {
    @media (max-width: $tablet-breakpoint) {
        display: none;
    }
}