// Colours
$base-background-color: #000;

$base-font-color: #D2D2D2;
$accent-font-color: #FFF;

$button-color: #2D906B;

$link-color: #42DCA3;
$link-hover-color: #2D906B;

$divider-color: #333;

$table-header-color: #222;
$table-accent-color: #333;

$menu-background: #000;
$menu-border: #333;

$section-background: #000;

$entry-steps-border: #777;

$date-color: #999;

// Sizes and spacing
$base-font-size: 18px;

$half-base-spacing: 0.5rem;
$base-spacing: 1rem;
$element-spacing: 2rem;
$section-spacing: 4rem;

$header-line-height: 1.1em;
$paragraph-line-height: 1.5em;

// Breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;