.notification {
    margin: 0;
}

.notification-box {
    display: flex;
}

.notification-drop {
    margin: 0 5px;
    padding: 0 5px;
    border: none;
    flex-shrink: 0;
    flex-grow: 0;
    min-width: initial;
}

.notification-content {
    max-height: 0;
    transition: max-height .5s;
    overflow: hidden;
}

.is-expanded {
    max-height: 500px;
    overflow: visible;
}